aio-pika==9.5.5
aiormq==6.8.1
aiosqlite==0.21.0
annotated-types==0.7.0
anyio==4.9.0
async-timeout==5.0.1
asyncpg==0.30.0
bazario==0.4.2
certifi==2025.1.31
click==8.1.8
dishka==1.5.0
exceptiongroup==1.2.2
Faker==37.1.0
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
importlib_metadata==8.6.1
izulu==0.5.4
litestar==2.15.1
litestar-htmx==0.4.1
markdown-it-py==3.0.0
mdurl==0.1.2
msgspec==0.19.0
multidict==6.2.0
multipart==1.2.1
packaging==24.2
pamqp==3.3.0
polyfactory==2.20.0
propcache==0.3.0
pycron==3.1.2
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
pytz==2025.2
PyYAML==6.0.2
redis==5.2.1
rich==13.9.4
rich-click==1.8.8
sniffio==1.3.1
SQLAlchemy==2.0.39
taskiq==0.11.15
taskiq-dependencies==1.5.7
taskiq-redis==1.0.3
typing_extensions==4.12.2
tzdata==2025.2
uvicorn==0.34.0
yarl==1.18.3
zipp==3.21.0
